* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Kalam', cursive;
  background-color: #fdf6cd;
  font-weight: 300;
}
.header {
  background-color: hsl(37, 66%, 9%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
  position: fixed;
  z-index: 1;
  width: 100%;
}
.footer {
  background-color: hsl(37, 66%, 9%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
}
.header .spoon {
  display: flex;
  align-items: center;
  font-weight: 400;
}
.header .spoon img {
  width: 42px;
  height: 37px;
  margin-right: 7px;
}
.footer .chef img {
  width: 20px;
  height: 35px;
  top: 4px;
  position: relative;
}
.footer .spoon img {
  width: 40px;
  height: 35px;
  top: 4px;
  position: relative;
}

.link-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
}
.link {
  padding: 0.3rem;
}
.link a {
  color: inherit;
  text-decoration: none;
}
.link a:hover,
.link a:focus {
  text-decoration: underline;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem 5rem 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-row {
  display: flex;
  gap: 1.2rem;
}
@media (max-width: 575px) {
  .form-row {
    flex-direction: column;
  }
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex-grow: 1;
}
.form-group label {
  font-weight: 400;
}
.form-group input,
.form-group select,
.form-group textarea {
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem;
  border: none;
}

.form-row .btn {
  align-self: flex-end;
}
.btn {
  text-decoration: none;
  color: white;
  background: hsl(51, 83%, 46%);
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}
.page-title {
  margin: 0;
  padding: 5rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section {
  padding: 2rem 0 0 0;
}
.recipe-grid {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
}

.recipe-card {
  flex-basis: 48%;
  margin-bottom: 2%;
  background-color: white;
  padding: 1.1rem;

  background-image: linear-gradient(
      180deg,
      white 3rem,
      #f0a4a4 calc(3rem),
      #f0a4a4 calc(3rem + 2px),
      transparent 1px
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 1.5rem,
      #e2f3fa 1px,
      #e2f3fa calc(1.5rem + 1px)
    );
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
@media (max-width: 900px) {
  .recipe-grid {
    flex-direction: column;
  }
  .recipe-card {
    padding: 1.2rem 0.2rem;
  }
}

h2 {
  margin: 0;
  text-align: center;
}
.recipe-icon::before {
  content: url(images/black-spoon.svg);
  position: absolute;
  margin-left: -2.5rem;
  margin-top: -0.25rem;
}
.directions-icon::before {
  content: url(images/black-chef.svg);
  position: absolute;
  margin-left: -1.6rem;
  margin-top: -0.75rem;
}
.recipe-list span {
  font-weight: 400;
}
.recipe-list,
.recipe-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.recipe-list ul {
  display: flex;
  justify-content: space-evenly;
}
.ingredients,
.directions {
  text-align: center;
  display: block;
  font-weight: 400;
}
.ingredients-list,
.directions-list {
  list-style: none;
  margin: 0;
  padding: 0;
  column-count: 2;
}
.directions-list {
  column-count: 1;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.card-footer .chef {
  display: flex;
  align-items: center;
  position: relative;
  top: 0.3rem;
}
.chef a,
.email a {
  color: hsl(51, 83%, 46%);
  text-decoration: none;
}
.chef a:hover,
.email a:hover {
  text-decoration: underline;
}
.view {
  background: hsl(37, 66%, 9%);
  position: relative;
  top: 0.3rem;
}
.view a {
  color: inherit;
  text-decoration: none;
}
.comments {
  background-image: linear-gradient(
    180deg,
    white 3rem,
    #f0a4a4 calc(3rem),
    #f0a4a4 calc(3rem + 2px),
    transparent 1px
  );
  background-color: white;
  padding: 1rem;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

fieldset {
  padding: 1.5rem;
  margin-top: -1rem;
  border-width: 2px;
  border-style: solid;
  border-color: hsl(0, 0%, 0%);
}
legend {
  font-size: 24px;
  font-weight: 400;
}
fieldset input {
  margin-bottom: 1rem;
}
.btn-outline {
  background: none;
  color: hsl(51, 83%, 46%);
  border: 2px solid hsl(51, 83%, 46%);
  font-size: 1rem;
}
::placeholder {
  color: hsl(0, 0%, 80%);
  font-weight: 300;
}
.form-btn-row {
  justify-content: flex-end;
}
